<nav class="navbar navbar-default my-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid main-page">
    <div class="row main-page-row">
        <div class="main-page-col main-page-left col-md-5">
            <div class="left-inner-box animated ">
                <h1>
                    <i class="fa fa-battery-2"></i>
                    Capture Your Imagination
                </h1>
                <h4>August is your creative space for storytelling, discovery and curation.</h4>
                <div class="left-buttons">
                    <a type="button" class="btn btn-left btn-large btn-danger animated rubberBand" target="_blank" href="http://www.google.com">
                        <i class="fa fa-camera-retro"></i>
                        Red
                    </a>
                    <a type="button" class="btn btn-right btn-large btn-default">Primary</a>
                </div>
            </div>
        </div>
        <div class="main-page-col main-page-right col-md-7">
            <img class="main-page-phones animated bounceInUp" src="images/phones.png" />
        </div>
    </div>
</div>