html,
body {
    height: 100%;
}


.landing-header {
    height: 80px;
    line-height: 80px;
    padding: 30px;
    box-sizing: border-box;
}

.my-nav {
    margin-bottom: 0;
    border: none;
    background: transparent;
    margin: 0;
    box-shadow: none;
}

.main-page {
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    padding-top: 50px;
    box-sizing: border-box;
}

.main-page-row {
    height: 100%;
}

.main-page-col {
    /*border: 1px solid red;*/
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-page-left {
    /*border: 1px solid blue;*/
}

.main-page-right {
    /*border: 1px solid green;*/
}

.left-inner-box{
    width: 50%;
    position: absolute;
    bottom: 180px;
    right: 10px;
    color: white;   
}

.left-buttons .btn{
    width: 46%;
    margin: 1%;
    float: left;
}

.main-page-phones {
    position: absolute;
    bottom: -50px;
    left: 20px;
    width: 70%;
}